page-login {
    .item-md {
        padding-bottom: 1em;
    }
    .scroll-content {
    /*
    Makes flexbox out of it's content and centers register and login forms
    Because .scroll-content is inside page-login it doesn't flow out of this page.
    Background color can be changed from front.scss at this point, because it is set outside of front-page tags.
    */    
        
        /*display: flex;
        form {
            // Centers form.
            height: 300px;
            width: 50%;
            margin: auto;
            margin-top: 5em;
            
            // This block was without ion.
            
        }*/
    }
    .list {
    }
}