page-login {
    .white-text {
        color: white;
    }

    .login-box {

        border-radius:10px;
        background-color: #ee7600;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top:20px;

        h2 {
            text-align: center;
            padding-top: 30px;
        }
        img {
            width: 150px;
            margin: auto;
            display: block;
        }
        form {
            .list{
                margin:0;
            }
            .item-block {
                width: 50%;
                margin:auto;
            }
            .submit-btn {
                background: #4169e1;
                border-radius: 30px !important;
                border: 1px solid #ffffff;
                width: 100%;
            }
            .border {
                height:40px;
                margin-top: 10px;
                .item-inner {
                    border-bottom: none;
                    .input-wrapper {
                        height: 40px;
                    }
                }
            }
        }
        .register-btn {
            color: #ffffff;
            font-size: 0.7em;
            margin-top: 10px;
            padding-bottom: 20px;
        }
    }
}
@media (min-width:500px) {
    page-login {
        .login-box {
            width: 330px;
        }
    }
}