page-register {
    .item-md {
        padding-bottom: 1em;
    }
    .scroll-content {
        /*
    Makes floxbox out of it's content and centers register and login forms
    Because .scroll-content is inside page-register it doesn't flow out of this page.
    Background color can be changed from front.scss at this point, because it is set outside of front-page tags.
    */
        display: flex;
        form {
            // Centers form.
            height: 300px;
            width: 90%;
            margin: auto;
            margin-top: 5em;
        }
    }
    .fixed.content {
        background-color: $bg-color;
    }
    .white-text {
        color: white;
    }
}