page-front {}

.scroll-content {
    background-color: $lg-color;
    ul {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        li {
            padding: 1em;
            width: 480px;
        }
    }
}

.loginbutton {
    float: right;
    background-color: #ee7600;
    padding: 1.5em;
}

.button-md:hover:not(.disable-hover) {
    background-color: #ee7600;
}