page-front {}

.scroll-content {
    background-color: $lg-color;
    ul {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        li {
            padding: 1em;
            width: 480px;
        }
    }
    .scroll-content {
        right: 0;
        bottom: 0;
        z-index: 1;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
    }
}