page-media-player {
    div {
        .thumb-button {
            color: #ee7600;
        }
        .button-md:hover:not(.disable-hover) {
            background-color: #FFD968;
        }
    }
    ion-list {
        .comment-header {
            width:50%;
        }
        .commentbox {
            border-radius: 10px;
            .comment-time {
                color: white;
                padding-left: 1em;
                overflow: hidden;
                white-space: normal;
            }
        .datetime-disabled{
            opacity: 1;
        }
        }

    }

    .white-text {
        color: white;
    }
}
